body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  padding: 50px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  color: #E84656
}

.text-block {
  display: block;
  padding: 0px 50px 50px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.link {
  font-family: Roboto, sans-serif;
  color: #63b16f;
  text-decoration: none;
  text-transform: none;
}